# Исследование надежности заемщиков

Это первая часть проекта, она будет проверена автоматически. Вторую часть проверит ревьюер.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd # импортируйте библиотеку pandas

In [2]:
data = pd.read_csv('/datasets/data.csv') # прочитайте csv-файл

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [3]:
data.head(20) # ваш код здесь

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [4]:
data.info() # ваш код здесь

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [5]:
data.isna().sum() # ваш код здесь

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [27]:
median_table = data.groupby('income_type')['total_income'].transform('median')
data['total_income'] = data['total_income'].fillna(median_table)
data

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
...,...,...,...,...,...,...,...,...,...,...,...,...
21520,1,-4529.316663,43,среднее,1,гражданский брак,1,F,компаньон,0,224791.862382,операции с жильем
21521,0,343937.404131,67,среднее,1,женат / замужем,0,F,пенсионер,0,155999.806512,сделка с автомобилем
21522,1,-2113.346888,38,среднее,1,гражданский брак,1,M,сотрудник,1,89672.561153,недвижимость
21523,3,-3112.481705,38,среднее,1,женат / замужем,0,M,сотрудник,1,244093.050500,на покупку своего автомобиля
21524,2,-1984.507589,40,среднее,1,женат / замужем,0,F,сотрудник,0,82047.418899,на покупку автомобиля

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. Таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [30]:
data['days_employed'] = abs(data['days_employed']) 
data['days_employed'] # ваш код здесь

0          8437.673028
1          4024.803754
2          5623.422610
3          4124.747207
4        340266.072047
             ...
21520      4529.316663
21521    343937.404131
21522      2113.346888
21523      3112.481705
21524      1984.507589
Name: days_employed, Length: 21525, dtype: float64

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [32]:
days_employed_median = data.groupby('income_type')['days_employed'].median()
days_employed_median                                                  # ваш код здесь

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [33]:
data['children'].unique() # ваш код здесь

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [41]:
# ваш код здесь
data['children'] = pd.to_numeric(data['children'])
data = data[(data['children'] >= 0)  & (data['children'] <= 5)]
data.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
11871,0,221.044147,54,среднее,1,женат / замужем,0,F,компаньон,0,148638.570112,операции с недвижимостью
11853,0,358111.095141,66,высшее,0,Не женат / не замужем,4,F,пенсионер,0,90039.086201,заняться высшим образованием
11855,0,3714.687881,42,среднее,1,женат / замужем,0,F,компаньон,0,76122.968272,высшее образование
11876,0,396541.413988,72,высшее,0,женат / замужем,0,M,пенсионер,0,159358.701867,автомобиль
11856,0,3868.612667,42,среднее,1,вдовец / вдова,2,F,компаньон,0,147928.489924,покупка коммерческой недвижимости
11875,0,367159.871030,62,СРЕДНЕЕ,1,женат / замужем,0,M,пенсионер,0,128882.579913,строительство собственной недвижимости
11859,0,367836.530534,70,среднее,1,гражданский брак,1,F,пенсионер,0,70158.044711,покупка жилья для семьи
11860,0,354.334033,42,высшее,0,в разводе,3,F,компаньон,0,98466.714124,автомобиль
11862,0,3912.481746,41,среднее,1,женат / замужем,0,F,сотрудник,0,107789.388271,на покупку своего автомобиля
11864,0,1953.237261,30,среднее,1,женат / замужем,0,F,сотрудник,0,203347.179292,приобретение автомобиля

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [ ]:
data['children'].unique() # ваш код здесь

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждому типу занятости `income_type`.**

In [49]:
median_table = data.groupby('income_type')['days_employed'].transform('median')
data['days_employed'] = data['days_employed'].fillna(median_table)
median_table

11871      1555.947387
11853    365286.622650
11855      1555.947387
11876    365286.622650
11856      1555.947387
             ...
20837      1555.947387
21156      1572.328285
20452      1572.328285
15822      1572.328285
16211      2689.137274
Name: days_employed, Length: 21402, dtype: float64

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [51]:
data.isna().sum() # ваш код здесь

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [52]:
data['total_income'] = data['total_income'].astype('int') # ваш код здесь

### Обработка дубликатов

**Задание 14. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [54]:
data.duplicated().sum() # посчитайте дубликаты

54

In [59]:
data = data.drop_duplicates().reset_index(drop=True)
 # удалите дубликаты

0

**Задание 15. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [67]:
data['education'] = data['education'].str.lower()

array(['операции с недвижимостью', 'заняться высшим образованием',
       'высшее образование', 'автомобиль',
       'покупка коммерческой недвижимости',
       'строительство собственной недвижимости',
       'покупка жилья для семьи', 'на покупку своего автомобиля',
       'приобретение автомобиля', 'операции с коммерческой недвижимостью',
       'строительство недвижимости', 'образование', 'свадьба',
       'операции с жильем', 'получение высшего образования', 'жилье',
       'покупка своего жилья', 'недвижимость', 'сыграть свадьбу',
       'сделка с подержанным автомобилем', 'на покупку автомобиля',
       'ремонт жилью', 'покупка жилой недвижимости',
       'дополнительное образование', 'свой автомобиль', 'покупка жилья',
       'покупка недвижимости', 'операции со своей недвижимостью',
       'покупка жилья для сдачи', 'заняться образованием',
       'строительство жилой недвижимости', 'на проведение свадьбы',
       'профильное образование', 'автомобили', 'сделка с автомобилем',
       'получение дополнительного образования', 'получение образования',
       'на покупку подержанного автомобиля'], dtype=object)

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [69]:
def categorize_income(income):
    if income <= 30000:
        return 'E'
    if income <= 50000:
        return 'D'
    if income <=200000:
        return 'C'
    if income <= 1000000:
        return 'B'
    return 'A' 

# создайте функцию categorize_income()

'D'

In [71]:
data['total_income_category'] = data['total_income'].apply(categorize_income)
data.head(10) # примените функцию методом apply()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category
0,0,221.044147,54,среднее,1,женат / замужем,0,F,компаньон,0,148638,операции с недвижимостью,C
1,0,358111.095141,66,высшее,0,Не женат / не замужем,4,F,пенсионер,0,90039,заняться высшим образованием,C
2,0,3714.687881,42,среднее,1,женат / замужем,0,F,компаньон,0,76122,высшее образование,C
3,0,396541.413988,72,высшее,0,женат / замужем,0,M,пенсионер,0,159358,автомобиль,C
4,0,3868.612667,42,среднее,1,вдовец / вдова,2,F,компаньон,0,147928,покупка коммерческой недвижимости,C
5,0,367159.871030,62,среднее,1,женат / замужем,0,M,пенсионер,0,128882,строительство собственной недвижимости,C
6,0,367836.530534,70,среднее,1,гражданский брак,1,F,пенсионер,0,70158,покупка жилья для семьи,C
7,0,354.334033,42,высшее,0,в разводе,3,F,компаньон,0,98466,автомобиль,C
8,0,3912.481746,41,среднее,1,женат / замужем,0,F,сотрудник,0,107789,на покупку своего автомобиля,C
9,0,1953.237261,30,среднее,1,женат / замужем,0,F,сотрудник,0,203347,приобретение автомобиля,B

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [72]:
data['purpose'].unique() # ваш код здесь

array(['операции с недвижимостью', 'заняться высшим образованием',
       'высшее образование', 'автомобиль',
       'покупка коммерческой недвижимости',
       'строительство собственной недвижимости',
       'покупка жилья для семьи', 'на покупку своего автомобиля',
       'приобретение автомобиля', 'операции с коммерческой недвижимостью',
       'строительство недвижимости', 'образование', 'свадьба',
       'операции с жильем', 'получение высшего образования', 'жилье',
       'покупка своего жилья', 'недвижимость', 'сыграть свадьбу',
       'сделка с подержанным автомобилем', 'на покупку автомобиля',
       'ремонт жилью', 'покупка жилой недвижимости',
       'дополнительное образование', 'свой автомобиль', 'покупка жилья',
       'покупка недвижимости', 'операции со своей недвижимостью',
       'покупка жилья для сдачи', 'заняться образованием',
       'строительство жилой недвижимости', 'на проведение свадьбы',
       'профильное образование', 'автомобили', 'сделка с автомобилем',
       'получение дополнительного образования', 'получение образования',
       'на покупку подержанного автомобиля'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [138]:
 
def categorize_purpose(purpose):
    auto = ['автомобиль','на покупку своего автомобиля','приобретение автомобиля', \
            'сделка с подержанным автомобилем','свой автомобиль','автомобили',\
            'сделка с автомобилем','на покупку подержанного автомобиля', 'на покупку автомобиля']
    estate = ['операции с недвижимостью','покупка коммерческой недвижимости',\
              'строительство собственной недвижимости','покупка жилья для семьи', \
              'на покупку своего автомобиля', 'операции с коммерческой недвижимостью', \
              'строительство недвижимости','операции с жильем','жилье','покупка своего жилья', \
              'недвижимость','ремонт жилью', 'покупка жилой недвижимости','покупка жилья', \
              'покупка недвижимости', 'операции со своей недвижимостью','покупка жилья для сдачи', \
              'строительство жилой недвижимости']
    wedding = ['свадьба', 'сыграть свадьбу', 'на проведение свадьбы']
    education = [ 'заняться высшим образованием','высшее образование','образование','дополнительное образование', \
                 'получение высшего образования', 'заняться образованием', 'профильное образование','получение дополнительного образования','получение образования']
    if purpose in auto:
        return 'операции с автомобилем'
    if purpose in estate:  
        return 'операции с недвижимостью'
    if purpose in wedding: 
        return 'проведение свадьбы'
    if purpose in education:
        return 'получение образования'
    return 'непонятно'

# создайте функцию categorize_purpose()
#or 'на покупку своего автомобиля' or 'приобретение автомобиля' or 'сделка с подержанным автомобилем' or 'свой автомобиль' or 'автомобили' or 'сделка с автомобилем' or'на покупку подержанного автомобиля':

In [139]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose) 
data # примените функцию методом apply()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,0,221.044147,54,среднее,1,женат / замужем,0,F,компаньон,0,148638,операции с недвижимостью,C,операции с недвижимостью
1,0,358111.095141,66,высшее,0,Не женат / не замужем,4,F,пенсионер,0,90039,заняться высшим образованием,C,получение образования
2,0,3714.687881,42,среднее,1,женат / замужем,0,F,компаньон,0,76122,высшее образование,C,получение образования
3,0,396541.413988,72,высшее,0,женат / замужем,0,M,пенсионер,0,159358,автомобиль,C,операции с автомобилем
4,0,3868.612667,42,среднее,1,вдовец / вдова,2,F,компаньон,0,147928,покупка коммерческой недвижимости,C,операции с недвижимостью
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21343,5,2386.600221,35,среднее,1,женат / замужем,0,F,компаньон,0,204241,жилье,B,операции с недвижимостью
21344,5,1690.018117,59,среднее,1,женат / замужем,0,M,сотрудник,0,269068,операции со своей недвижимостью,B,операции с недвижимостью
21345,5,268.425464,38,начальное,3,женат / замужем,0,F,сотрудник,0,212545,заняться высшим образованием,B,получение образования
21346,5,418.199982,31,среднее,1,женат / замужем,0,F,сотрудник,0,77552,сделка с подержанным автомобилем,C,операции с автомобилем
21347,5,387.317579,35,среднее,1,гражданский брак,1,F,госслужащий,0,126102,на проведение свадьбы,C,проведение свадьбы